<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <base href="/"/>

    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="css/main.css"/>

    <title>JSFuncDiagraph 2.2.1</title>
</head>
<body>
<div id="tl-panel">
    <h1>JSFuncDiagraph 2.2.1<span id="drawing-state"></span></h1>

    <div class="cursor-coordinate"> x: <span id="cursor-x">-</span></div>
    <div class="cursor-coordinate"> y: <span id="cursor-y">-</span></div>
</div>
<div id="dashboard">
    <h2>
        <span class="title">Dashboard</span>
        <span class="menu">
            <a id="help-btn">Help</a>
            <a id="about-btn">About</a>
        </span>
    </h2>
    <ul id="func-list"></ul>
    <div id="add-func">
        <span>Add Function</span>
        <button id="add-func-btn" title="Add Function">Add Function</button>
    </div>
    <div id="dashboard-toggle">
        <button id="dashboard-toggle-btn" title="Toggle">Toggle</button>
    </div>
</div>
<div id="bl-panel">
    <button id="centered-btn" title="Centered">Centered</button>
    <button id="smooth-btn" title="Smooth: -">Smooth: -</button>
    <button id="cursor-btn" title="Cursor: -">Cursor: -</button>
</div>
<div id="br-panel">
    <button id="zoom-in-btn" title="Zoom In">Zoom In</button>
    <button id="zoom-out-btn" title="Zoom Out">Zoom Out</button>
    <button id="zoom-level" title="x7" class="x7">x7</button>
</div>
<div id="dropbox-bg"></div>
<div class="dropbox-wrap">
    <div class="dropbox" id="func-editor">
        <h2>
            <span class="title">Edit Function</span>
            <button class="close-dropbox-btn" id="close-func-editor-btn"></button>
        </h2>
        <div id="func-textarea-wrap">
            <textarea name="" id="func-textarea" cols="30" rows="5"></textarea>
        </div>
        <div id="footer">
            <div id="palette"></div>
            <button id="submit-btn"></button>
        </div>
    </div>
    <div class="dropbox" id="about">
        <h2>
            <span class="title">About</span>
            <button class="close-dropbox-btn" id="close-about-btn"></button>
        </h2>
        <div class="dropbox-inner">
            <h3>JSFuncDiagraph 2.2.1</h3>

            <p>JSFuncDiagraph is a mathematical function diagraph written by javascript.</p>

            <p>Copyright © 2015 fanglin.name. All rights reserved.</p>
        </div>
    </div>
    <div class="dropbox" id="help">
        <h2>
            <span class="title">Help</span>
            <button class="close-dropbox-btn" id="close-help-btn"></button>
        </h2>
        <div class="dropbox-inner">
            <h3>Symbol</h3>

            <p>
                Plus : +<br/>

                Minus : -<br/>

                Product : *<br/>

                Division : /
            </p>

            <h3>Function</h3>

            <p>
                Power : pow(x, n)<br/>

                Natural Logarithm : log(x)<br/>

                Trigonometric : sin(x), cos(x), tan(x), arcsin(x), arccos(x), arctan(x)<br/>

                Absolute : abs(x)<br/>

                Floor : floor(x)<br/>

                Ceil : ceil(x)<br/>

                Round : round(x)
            </p>

            <h3>Constant</h3>

            <p>
                PI, E
            </p>

            <h3>Example</h3>

            <p>
                y = log(x)<br/>

                y = arctan(x)<br/>

                y = 1/(1-pow(E, x/(1-x)))
            </p>
        </div>
    </div>
</div>
<div id="cursor-layer">
    <hr id="line-x"/>
    <hr id="line-y"/>
</div>
<div id="canvas"></div>
<script type="text/javascript" data-main="init" src="lib/requirejs/require.js"></script>
</body>
<script type="text/template" id="func-list-template">
    <% list.forEach(function(exp, index){ %>
    <li>
        <div class="col1" style="background: <%= exp.color %>">
            <button class="show-on-btn<%= exp.hide ? ' hide' : '' %>" title="Show/Hide" data-index="<%= index %>">
                Show/Hide
            </button>
        </div>
        <div class="col2">
            <% if (exp.expression.domain) { %>
            <p><%= exp.expression.x %>;</p>

            <p><%= exp.expression.y %>;</p>

            <p><%= exp.expression.domain %>;</p>
            <% } else { %>
            <p><%= exp.expression %>;</p>
            <% } %>
        </div>
        <div class="col3">
            <button class="delete-btn" title="Delete" data-index="<%= index %>">Delete</button>
            <button class="edit-btn" title="Edit" data-index="<%= index %>">Edit</button>
        </div>
    </li>
    <% }); %>
</script>
</html>