<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/"/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="lib/html5shiv/dist/html5shiv.min.js"></script>
    <script src="lib/respond/dest/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="css/main.css"/>

    <title>JSFuncDiagraph v2</title>
</head>
<body>
<div id="tl-panel">
    <h1>JSFuncDiagraph v2 <span id="drawing-state"></span></h1>

    <div class="cursor-coordinate"> x: <span id="cursor-x">-</span></div>
    <div class="cursor-coordinate"> y: <span id="cursor-y">-</span></div>
</div>
<div id="dashboard">
    <h2>
        <span class="title">Dashboard</span>
        <span class="menu">
            <a href="">Help</a>
            <a href="">About</a>
        </span>
    </h2>
    <ul id="func-list">
        <li>
            <div class="col1">
                <button class="show-on-btn"></button>
            </div>
            <div class="col2">
                <p>x = 4 * (sin(2 * q) + 0.2 * sin(100 * q)) * cos(q)</p>

                <p>y = 4 * (sin(2 * q) + 0.2 * sin(100 * q)) * sin(q)</p>

                <p>q = [0,2 * PI]</p>
            </div>
            <div class="col3">
                <button class="delete-btn" title="Delete">Delete</button>
                <button class="edit-btn" title="Edit">Edit</button>
            </div>
        </li>
        <li>
            <div class="col1">
                <button class="show-on-btn" title="Show: -">Show: -</button>
            </div>
            <div class="col2">
                <p>y=pow(x,2)</p>
            </div>
            <div class="col3">
                <button class="delete-btn" title="Delete">Delete</button>
                <button class="edit-btn" title="Edit">Edit</button>
            </div>
        </li>
        <li>
            <div class="col1">
                <button class="show-on-btn" title="Show: -">Show: -</button>
            </div>
            <div class="col2">
                <p>y=pow(x,2)</p>
            </div>
            <div class="col3">
                <button class="delete-btn" title="Delete">Delete</button>
                <button class="edit-btn" title="Edit">Edit</button>
            </div>
        </li>
        <li>
            <div class="col1">
                <button class="show-on-btn" title="Show: -">Show: -</button>
            </div>
            <div class="col2">
                <p>y=pow(x,2)</p>
            </div>
            <div class="col3">
                <button class="delete-btn" title="Delete">Delete</button>
                <button class="edit-btn" title="Edit">Edit</button>
            </div>
        </li>
    </ul>
    <div id="add-func">
        <span>Add Function</span>
        <button id="add-func-btn" title="Add Function">Add Function</button>
    </div>
    <div id="dashboard-toggle">
        <button id="dashboard-toggle-btn" title="Toggle">Toggle</button>
    </div>
</div>
<div id="bl-panel">
    <button id="centered-btn" title="Centered">Centered</button>
    <button id="smooth-btn" title="Smooth: -">Smooth: -</button>
    <button id="cursor-btn" title="Cursor: -">Cursor: -</button>
</div>
<div id="br-panel">
    <button id="zoom-in-btn" title="Zoom In">Zoom In</button>
    <button id="zoom-out-btn" title="Zoom Out">Zoom Out</button>
    <button id="zoom-level" title="x7" class="x7">x7</button>
</div>
<div id="func-editor-bg"></div>
<div id="func-editor-wrap">
    <div id="func-editor">
        <h2>
            <span class="title">Edit Function</span>
            <button id="close-func-editor-btn"></button>
        </h2>
        <div id="func-textarea-wrap">
            <textarea name="" id="func-textarea" cols="30" rows="5"></textarea>
        </div>
        <div id="footer">
            <div id="palette"></div>
            <button id="submit-btn"></button>
        </div>
    </div>
</div>
<div id="cursor-layer">
    <hr id="line-x"/>
    <hr id="line-y"/>
</div>
<div id="canvas"></div>
<script type="text/javascript" data-main="init" src="lib/requirejs/require.js"></script>
</body>
<script type="text/template" id="func-list-template">
    <% list.forEach(function(exp, index){ %>
    <li>
        <div class="col1" style="background: <%= exp.color %>">
            <button class="show-on-btn<%= exp.hide ? ' hide' : '' %>" title="Show/Hide" data-index="<%= index %>">
                Show/Hide
            </button>
        </div>
        <div class="col2">
            <% if (exp.expression.domain) { %>
            <p><%= exp.expression.x %>;</p>

            <p><%= exp.expression.y %>;</p>

            <p><%= exp.expression.domain %>;</p>
            <% } else { %>
            <p><%= exp.expression %>;</p>
            <% } %>
        </div>
        <div class="col3">
            <button class="delete-btn" title="Delete" data-index="<%= index %>">Delete</button>
            <button class="edit-btn" title="Edit" data-index="<%= index %>">Edit</button>
        </div>
    </li>
    <% }); %>
</script>
</html>