@corner-off-hover: -4px, -4px, 16px, 16px;
@plus: -4px, -28px, 16px, 16px;
@corner-on-hover: -4px, -52px, 16px, 16px;
@corner-on: -4px, -76px, 16px, 16px;
@cross-hover: -4px, -100px, 16px, 16px;
@cross: -4px, -124px, 16px, 16px;
@corner-off: -4px, -148px, 16px, 16px;
@minus: -4px, -172px, 16px, 16px;
@minus-hover: -4px, -196px, 16px, 16px;
@plus-hover: -4px, -220px, 16px, 16px;
@eye: -4px, -244px, 16px, 17px;
@eye-off: -4px, -269px, 16px, 17px;
@eye-off-hover: -4px, -294px, 16px, 18px;
@eye-hover: -4px, -320px, 16px, 18px;
@smooth-on-hover: -4px, -346px, 28px, 28px;
@cursor-on-hover: -4px, -382px, 28px, 28px;
@cursor-on: -4px, -418px, 28px, 28px;
@centered-hover: -4px, -454px, 28px, 28px;
@cursor-off-hover: -4px, -490px, 28px, 28px;
@cursor-off: -4px, -526px, 28px, 28px;
@smooth-off-hover: -4px, -562px, 28px, 28px;
@smooth-off: -4px, -598px, 28px, 28px;
@centered: -4px, -634px, 28px, 28px;
@smooth-on: -4px, -670px, 28px, 28px;
@x1: -4px, -706px, 28px, 28px;
@x10: -4px, -742px, 28px, 28px;
@x11: -4px, -778px, 28px, 28px;
@x12: -4px, -814px, 28px, 28px;
@x13: -4px, -850px, 28px, 28px;
@x14: -4px, -886px, 28px, 28px;
@x15: -4px, -922px, 28px, 28px;
@x16: -4px, -958px, 28px, 28px;
@x2: -4px, -994px, 28px, 28px;
@x3: -4px, -1030px, 28px, 28px;
@x4: -4px, -1066px, 28px, 28px;
@x5: -4px, -1102px, 28px, 28px;
@x6: -4px, -1138px, 28px, 28px;
@x7: -4px, -1174px, 28px, 28px;
@x8: -4px, -1210px, 28px, 28px;
@x9: -4px, -1246px, 28px, 28px;
@zoom-in-hover: -4px, -1282px, 28px, 28px;
@zoom-in: -4px, -1318px, 28px, 28px;
@zoom-out-hover: -4px, -1354px, 28px, 28px;
@zoom-out: -4px, -1390px, 28px, 28px;

.sprite-width(@sprite) {
  width: extract(@sprite, 3);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 4);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 1);
  @sprite-offset-y: extract(@sprite, 2);
  background-position: @sprite-offset-x  @sprite-offset-y;
}

.sprite(@sprite) {
  .sprite-position(@sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

.icon {
  background-image: url('../img/buttons.png');
}

