@import '../lib/normalize-css/normalize.css';
.icon {
  background-image: url('../img/buttons.png');
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #ccc;
  overflow: hidden;
  cursor: crosshair;
  font-family: consolas courier, monospace;
}
body.drag-start,
body.dragging {
  cursor: move;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
button {
  background-color: transparent;
  border: medium none;
  outline: medium none;
}
#tl-panel,
#bl-panel,
#br-panel {
  position: absolute;
  z-index: 10;
}
#tl-panel button,
#bl-panel button,
#br-panel button {
  background-image: url('../img/buttons.png');
  font-size: 0;
  line-height: 0;
  width: 28px;
  height: 28px;
  padding: 0;
}
#tl-panel:after,
#bl-panel:after,
#br-panel:after {
  content: ' ';
  display: block;
  height: 0;
  line-height: 0;
  font-size: 0;
  clear: both;
}
#tl-panel,
#bl-panel {
  left: 20px;
}
#tl-panel button,
#bl-panel button {
  float: left;
}
#br-panel {
  right: 20px;
}
#br-panel button {
  float: right;
}
#tl-panel {
  top: 20px;
}
#bl-panel,
#br-panel {
  bottom: 20px;
}
#bl-panel button {
  margin-right: 5px;
}
#centered-btn {
  background-position: -4px -696px;
}
#centered-btn:hover {
  background-position: -4px -480px;
}
#smooth-btn {
  background-position: -4px -768px;
}
#smooth-btn:hover {
  background-position: -4px -732px;
}
#smooth-btn.on {
  background-position: -4px -840px;
}
#smooth-btn.on:hover {
  background-position: -4px -804px;
}
#cursor-btn {
  background-position: -4px -552px;
}
#cursor-btn:hover {
  background-position: -4px -516px;
}
#cursor-btn.on {
  background-position: -4px -444px;
}
#cursor-btn.on:hover {
  background-position: -4px -660px;
}
#zoom-out-btn {
  margin-right: -1px;
  background-position: -4px -1560px;
}
#zoom-out-btn:hover {
  background-position: -4px -1524px;
}
#zoom-in-btn {
  background-position: -4px -1488px;
}
#zoom-in-btn:hover {
  background-position: -4px -1452px;
}
#zoom-level {
  margin-right: 5px;
  background-position: -4px -876px;
}
#zoom-level.x1 {
  background-position: -4px -876px;
}
#zoom-level.x2 {
  background-position: -4px -1164px;
}
#zoom-level.x3 {
  background-position: -4px -1200px;
}
#zoom-level.x4 {
  background-position: -4px -1236px;
}
#zoom-level.x5 {
  background-position: -4px -1272px;
}
#zoom-level.x6 {
  background-position: -4px -1308px;
}
#zoom-level.x7 {
  background-position: -4px -1344px;
}
#zoom-level.x8 {
  background-position: -4px -1380px;
}
#zoom-level.x9 {
  background-position: -4px -1416px;
}
#zoom-level.x10 {
  background-position: -4px -912px;
}
#zoom-level.x11 {
  background-position: -4px -948px;
}
#zoom-level.x12 {
  background-position: -4px -984px;
}
#zoom-level.x13 {
  background-position: -4px -1020px;
}
#zoom-level.x14 {
  background-position: -4px -1056px;
}
#zoom-level.x15 {
  background-position: -4px -1092px;
}
#zoom-level.x16 {
  background-position: -4px -1128px;
}
.cursor-coordinate {
  font-size: 12px;
}
#tl-panel h1 {
  font-size: 12px;
  margin: 0;
  padding: 0 0 10px 0;
}
#canvas {
  background: #ffffff;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0 10px #666666;
  -moz-box-shadow: 0 0 10px #666666;
  box-shadow: 0 0 10px #666666;
}
#canvas canvas {
  position: absolute;
  background: transparent;
}
#cursor-layer {
  position: absolute;
  width: 100%;
  height: 100%;
}
#line-x,
#line-y {
  position: absolute;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  background: #666;
  border: medium none;
  z-index: 9;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#line-x {
  left: -99999px;
  width: 1px;
  height: 100%;
}
#line-y {
  top: -99999px;
  width: 100%;
  height: 1px;
}
#dashboard {
  background: #eeeeee;
  position: absolute;
  overflow: hidden;
  z-index: 10;
  visibility: hidden;
  width: 340px;
  top: -9999px;
  right: -9999px;
  cursor: default;
  border-style: solid;
  border-color: #666666;
  border-width: 0 0 1px 1px;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}
#dashboard button {
  background-image: url('../img/buttons.png');
  font-size: 0;
  line-height: 0;
  padding: 0;
  width: 16px;
  height: 16px;
}
#dashboard h2 {
  margin: 10px 0 0 0;
  font-size: 12px;
  padding: 10px 20px;
  background: #cccccc;
}
#dashboard h2 .title {
  float: left;
  line-height: 16px;
}
#dashboard h2 .menu {
  float: right;
}
#dashboard h2:after {
  content: ' ';
  display: block;
  height: 0;
  line-height: 0;
  font-size: 0;
  clear: both;
}
#dashboard #func-list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 12px;
}
#dashboard #func-list li {
  height: 100%;
  border-bottom: solid #999 1px;
  position: relative;
}
#dashboard #func-list li .col1 {
  position: absolute;
  padding: 7px 8px 8px 8px;
  top: 0;
  bottom: 0;
  left: 0;
  background: #fc8c84;
}
#dashboard #func-list li .col1 .show-on-btn {
  height: 17px;
  display: block;
  background-position: -4px -366px;
}
#dashboard #func-list li .col1 .show-on-btn:hover {
  background-position: -4px -418px;
}
#dashboard #func-list li .col2 {
  margin: 0 42px 0 32px;
  padding: 5px 8px;
}
#dashboard #func-list li .col2 p {
  margin: 3px 0;
  line-height: 16px;
}
#dashboard #func-list li .col3 {
  position: absolute;
  padding: 8px 10px 8px 0;
  height: 16px;
  top: 0;
  right: 0;
  bottom: 0;
}
#dashboard #func-list li .col3 button {
  float: right;
}
#dashboard #func-list li .col3 .edit-btn {
  margin-right: -1px;
  background-position: -4px -244px;
}
#dashboard #func-list li .col3 .edit-btn:hover {
  background-position: -4px -4px;
}
#dashboard #func-list li .col3 .delete-btn {
  background-position: -4px -172px;
}
#dashboard #func-list li .col3 .delete-btn:hover {
  background-position: -4px -148px;
}
#dashboard #func-list li:after {
  content: ' ';
  display: block;
  height: 0;
  line-height: 0;
  font-size: 0;
  clear: both;
}
#dashboard #add-func {
  padding: 10px 10px 0 30px;
  font-size: 12px;
}
#dashboard #add-func span {
  float: left;
  line-height: 16px;
}
#dashboard #add-func button {
  float: right;
  background-position: -4px -28px;
}
#dashboard #add-func button:hover {
  background-position: -4px -316px;
}
#dashboard #add-func:after {
  content: ' ';
  display: block;
  height: 0;
  line-height: 0;
  font-size: 0;
  clear: both;
}
#dashboard #dashboard-toggle button {
  float: left;
  background-position: -4px -100px;
}
#dashboard #dashboard-toggle button:hover {
  background-position: -4px -76px;
}
#dashboard #dashboard-toggle:after {
  content: ' ';
  display: block;
  height: 0;
  line-height: 0;
  font-size: 0;
  clear: both;
}
#dashboard.show {
  visibility: visible;
}
#dashboard.animate {
  -webkit-transition: top .15s .3s ease-in-out, right .15s ease-in-out;
  -moz-transition: top .15s .3s ease-in-out, right .15s ease-in-out;
  -ms-transition: top .15s .3s ease-in-out, right .15s ease-in-out;
  -o-transition: top .15s .3s ease-in-out, right .15s ease-in-out;
}
#dashboard.on {
  top: 0;
  right: 0;
}
#dashboard.on #dashboard-toggle button {
  background-position: -4px -52px;
}
#dashboard.on #dashboard-toggle button:hover {
  background-position: -4px -220px;
}
#func-editor-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: none;
  z-index: 11;
}
#func-editor-bg.on {
  display: block;
}
#func-editor-wrap {
  position: relative;
  margin: 0 auto;
  width: 340px;
}
#func-editor {
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -o-transition: all 0.1s;
  position: absolute;
  background: #eeeeee;
  margin: 0 auto;
  z-index: 20;
  cursor: default;
  visibility: hidden;
  top: -9999px;
  left: 0;
  right: 0;
  border-style: solid;
  border-color: #666666;
  border-width: 0 1px 1px 1px;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}
#func-editor.show {
  visibility: visible;
}
#func-editor.animate {
  -webkit-transition: all ease-in-out 0.15s;
  -moz-transition: all ease-in-out 0.15s;
  -ms-transition: all ease-in-out 0.15s;
  -o-transition: all ease-in-out 0.15s;
}
#func-editor.on {
  top: 0;
}
#func-editor.on #dashboard-toggle button {
  background-position: -4px -52px;
}
#func-editor.on #dashboard-toggle button:hover {
  background-position: -4px -220px;
}
#func-editor button {
  background-image: url('../img/buttons.png');
  font-size: 0;
  line-height: 0;
  padding: 0;
  width: 16px;
  height: 16px;
}
#func-editor h2 {
  margin: 10px 0 0 0;
  font-size: 12px;
  padding: 10px 20px;
  background: #cccccc;
}
#func-editor h2 .title {
  float: left;
  line-height: 16px;
}
#func-editor h2 #close-func-editor-btn {
  float: right;
  background-position: -4px -196px;
}
#func-editor h2 #close-func-editor-btn:hover {
  background-position: -4px -124px;
}
#func-editor h2:after {
  content: ' ';
  display: block;
  height: 0;
  line-height: 0;
  font-size: 0;
  clear: both;
}
#func-editor #func-textarea-wrap {
  padding: 10px 32px 10px 20px;
}
#func-editor #func-textarea-wrap textarea {
  outline: medium none;
  border: solid 1px #999999;
  padding: 5px;
  font-size: 12px;
  line-height: 16px;
  display: block;
  width: 100%;
  height: 96px;
  resize: none;
}
#func-editor #func-textarea-wrap:after {
  content: ' ';
  display: block;
  height: 0;
  line-height: 0;
  font-size: 0;
  clear: both;
}
#func-editor #footer {
  padding: 0 20px 20px 20px;
}
#func-editor #footer #palette {
  float: left;
  width: 252px;
}
#func-editor #footer #palette a {
  float: left;
  width: 5px;
  height: 5px;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
}
#func-editor #footer #palette a.selected {
  border-color: #ffffff !important;
}
#func-editor #footer #palette a.bright.selected {
  border-color: #000000 !important;
}
#func-editor #footer #palette:after {
  content: ' ';
  display: block;
  height: 0;
  line-height: 0;
  font-size: 0;
  clear: both;
}
#func-editor #footer #submit-btn {
  float: right;
  width: 28px;
  height: 28px;
  margin-top: 7px;
  background-position: -4px -624px;
}
#func-editor #footer #submit-btn:hover {
  background-position: -4px -588px;
}
#func-editor #footer:after {
  content: ' ';
  display: block;
  height: 0;
  line-height: 0;
  font-size: 0;
  clear: both;
}
