@import '../lib/normalize-css/normalize.css';
@import 'buttons.less';
@import 'mixins.less';

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #ccc;
  overflow: hidden;
  cursor: crosshair;
  font-family: consolas courier, monospace;
}

body.drag-start,
body.dragging {
  cursor: move;
  .user-select(none);
}

button {
  background-color: transparent;
  border: medium none;
  outline: medium none;
}

#tl-panel,
#bl-panel,
#br-panel {
  position: absolute;
  z-index: 10;
  button {
    .icon();
    font-size: 0;
    line-height: 0;
    width: 28px;
    height: 28px;
    padding: 0;
  }
  &:after {
    .clear();
  }
}

#tl-panel,
#bl-panel {
  left: 20px;
  button {
    float: left;
  }
}

#br-panel {
  right: 20px;
  button {
    float: right;
  }
}

#tl-panel {
  top: 20px;
}

#bl-panel,
#br-panel {
  bottom: 20px;
}

#bl-panel {
  button {
    margin-right: 5px;
  }
}

#centered-btn {
  .sprite-position(@centered);
  &:hover {
    .sprite-position(@centered-hover);
  }
}

#smooth-btn {
  .sprite-position(@smooth-off);
  &:hover {
    .sprite-position(@smooth-off-hover);
  }
  &.on {
    .sprite-position(@smooth-on);
    &:hover {
      .sprite-position(@smooth-on-hover);
    }
  }
}

#cursor-btn {
  .sprite-position(@cursor-off);
  &:hover {
    .sprite-position(@cursor-off-hover);
  }
  &.on {
    .sprite-position(@cursor-on);
    &:hover {
      .sprite-position(@cursor-on-hover);
    }
  }
}

#zoom-out-btn {
  margin-right: -1px;
  .sprite-position(@zoom-out);
  &:hover {
    .sprite-position(@zoom-out-hover);
  }
}

#zoom-in-btn {
  .sprite-position(@zoom-in);
  &:hover {
    .sprite-position(@zoom-in-hover);
  }
}

#zoom-level {
  margin-right: 5px;
  .sprite-position(@x1);
  &.x1 {
    .sprite-position(@x1);
  }
  &.x2 {
    .sprite-position(@x2);
  }
  &.x3 {
    .sprite-position(@x3);
  }
  &.x4 {
    .sprite-position(@x4);
  }
  &.x5 {
    .sprite-position(@x5);
  }
  &.x6 {
    .sprite-position(@x6);
  }
  &.x7 {
    .sprite-position(@x7);
  }
  &.x8 {
    .sprite-position(@x8);
  }
  &.x9 {
    .sprite-position(@x9);
  }
  &.x10 {
    .sprite-position(@x10);
  }
  &.x11 {
    .sprite-position(@x11);
  }
  &.x12 {
    .sprite-position(@x12);
  }
  &.x13 {
    .sprite-position(@x13);
  }
  &.x14 {
    .sprite-position(@x14);
  }
  &.x15 {
    .sprite-position(@x15);
  }
  &.x16 {
    .sprite-position(@x16);
  }
}

.cursor-coordinate {
  font-size: 12px;
}

#tl-panel h1 {
  font-size: 12px;
  margin: 0;
  padding: 0 0 10px 0;
}

#canvas {
  background: #ffffff;
  width: 100%;
  height: 100%;
  .box-shadow(0 0 10px #666);
}

#canvas canvas {
  position: absolute;
  background: transparent;
}

#mask {
  position: absolute;
  width: 100%;
  height: 100%;
}

#line-x,
#line-y {
  position: absolute;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  background: #666;
  border: medium none;
  z-index: 9;
  .user-select(none);
}

#line-x {
  left: -99999px;
  width: 1px;
  height: 100%;
}

#line-y {
  top: -99999px;
  width: 100%;
  height: 1px;
}

#dashboard {
  background: #eeeeee;
  position: absolute;
  overflow: hidden;
  z-index: 10;
  visibility: hidden;
  top: -9999px;
  right: -9999px;
  cursor: default;
  //  width: 640px;
  border-style: solid;
  border-color: #666666;
  border-width: 0 0 1px 1px;
  .border-radiuses(0, 0, 4px, 0);
  .box-shadow(0 1px 8px rgba(0, 0, 0, 0.5));
  button {
    .icon();
    font-size: 0;
    line-height: 0;
    padding: 0;
    width: 16px;
    height: 16px;
  }
  h2 {
    margin: 10px 0 0 0;
    font-size: 12px;
    padding: 10px 20px;
    background: #cccccc;
    .title {
      float: left;
    }
    .menu {
      float: right;
    }
    &:after {
      .clear();
    }
  }
  #func-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
    li {
      height: 100%;
      border-bottom: solid #999 1px;
      position: relative;
      .col1 {
        position: absolute;
        padding: 7px 8px 8px 8px;
        top: 0;
        bottom: 0;
        left: 0;
        background: #fc8c84;
        .show-on {
          height: 17px;
          display: block;
          .sprite-position(@eye);
          &:hover {
            .sprite-position(@eye-hover);
          }
        }
      }
      .col2 {
        margin: 0 42px 0 32px;
        padding: 5px 8px;
        p {
          margin: 3px 0;
          line-height: 16px;
        }
      }
      .col3 {
        position: absolute;
        padding: 8px 10px 8px 0;
        height: 16px;
        top: 0;
        right: 0;
        bottom: 0;
        button {
          float: right;
        }
        .edit {
          margin-right: -1px;
          .sprite-position(@plus);
          &:hover {
            .sprite-position(@plus-hover);
          }
        }
        .delete {
          .sprite-position(@cross);
          &:hover {
            .sprite-position(@cross-hover);
          }
        }
      }
      &:after {
        .clear();
      }
    }
  }
  #add-func {
    padding: 10px 10px 0 30px;
    font-size: 12px;
    line-height: 16px;
    span {
      float: left;
    }
    button {
      float: right;
      .sprite-position(@plus);
      &:hover {
        .sprite-position(@plus-hover);
      }
    }
    &:after {
      .clear();
    }
  }
  #dashboard-toggle {
    &:after {
      .clear();
    }
    button {
      float: left;
      .sprite-position(@corner-on);
      &:hover {
        .sprite-position(@corner-on-hover);
      }
    }
  }
  &.show {
    visibility: visible;
  }
  &.animate {
    .transition(~'top .15s .3s ease-in-out, right .15s ease-in-out');
  }
  &.on {
    top: 0;
    right: 0;
    #dashboard-toggle button {
      .sprite-position(@corner-off);
      &:hover {
        .sprite-position(@corner-off-hover);
      }
    }
  }
}

#palette {
  width: 384px;
}

#palette a {
  float: left;
  width: 4px;
  height: 4px;
  border-width: 1px;
  border-style: solid;
}

#palette a:hover {
  border-color: #ffffff !important;
}

#palette:after {
  content: ' ';
  display: block;
  height: 0;
  font-size: 0;
  line-height: 0;
  clear: both;
}