@import '../lib/normalize-css/normalize.css';
@import 'buttons.less';
@import 'mixins.less';

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #ccc;
  overflow: hidden;
  cursor: crosshair;
  font-family: consolas courier, monospace;
  position: fixed;
}

body.drag-start,
body.dragging {
  cursor: move;
  .user-select(none);
}

button {
  background-color: transparent;
  border: medium none;
  outline: medium none;
}

#console {
  position: absolute;
  font-size: 12px;
  z-index: 9999;
}

#tl-panel,
#bl-panel,
#br-panel,
#copyright {
  position: absolute;
  z-index: 10;
  button {
    .icon();
    font-size: 0;
    line-height: 0;
    width: 28px;
    height: 28px;
    padding: 0;
  }
  &:after {
    .clear();
  }
}

#tl-panel,
#bl-panel {
  left: 20px;
  button {
    float: left;
  }
}

#br-panel {
  right: 20px;
  button {
    float: right;
  }
}

#tl-panel {
  top: 20px;
}

#bl-panel,
#br-panel {
  bottom: 20px;
}

#bl-panel {
  button {
    margin-right: 5px;
  }
}

#copyright {
  right: 20px;
  bottom: 4px;
  font-size: 11px;
  color: #666;
  a {
    text-decoration: none;
    color: #666;
    &:hover {
      color: #999;
    }
  }
}

#centered-btn {
  .sprite-position(@centered);
  &:hover {
    .sprite-position(@centered-hover);
  }
}

#smooth-btn {
  .sprite-position(@smooth-off);
  &:hover {
    .sprite-position(@smooth-off-hover);
  }
  &.on {
    .sprite-position(@smooth-on);
    &:hover {
      .sprite-position(@smooth-on-hover);
    }
  }
}

#cursor-btn {
  .sprite-position(@cursor-off);
  &:hover {
    .sprite-position(@cursor-off-hover);
  }
  &.on {
    .sprite-position(@cursor-on);
    &:hover {
      .sprite-position(@cursor-on-hover);
    }
  }
}

#zoom-out-btn {
  margin-right: -1px;
  .sprite-position(@zoom-out);
  &:hover {
    .sprite-position(@zoom-out-hover);
  }
}

#zoom-in-btn {
  .sprite-position(@zoom-in);
  &:hover {
    .sprite-position(@zoom-in-hover);
  }
}

#zoom-level {
  margin-right: 5px;
  .sprite-position(@x1);
  &.x1 {
    .sprite-position(@x1);
  }
  &.x2 {
    .sprite-position(@x2);
  }
  &.x3 {
    .sprite-position(@x3);
  }
  &.x4 {
    .sprite-position(@x4);
  }
  &.x5 {
    .sprite-position(@x5);
  }
  &.x6 {
    .sprite-position(@x6);
  }
  &.x7 {
    .sprite-position(@x7);
  }
  &.x8 {
    .sprite-position(@x8);
  }
  &.x9 {
    .sprite-position(@x9);
  }
  &.x10 {
    .sprite-position(@x10);
  }
  &.x11 {
    .sprite-position(@x11);
  }
  &.x12 {
    .sprite-position(@x12);
  }
  &.x13 {
    .sprite-position(@x13);
  }
  &.x14 {
    .sprite-position(@x14);
  }
  &.x15 {
    .sprite-position(@x15);
  }
  &.x16 {
    .sprite-position(@x16);
  }
}

.cursor-coordinate {
  font-size: 12px;
}

#tl-panel h1 {
  font-size: 12px;
  margin: 0;
  padding: 0 0 10px 0;
  #drawing-state {
    color: #f33;
  }
  a {
    text-decoration: none;
    color: #000;
    &:hover {
      color: #666;
    }
  }
}

#canvas {
  background: #ffffff;
  width: 100%;
  height: 100%;
  .box-shadow(0 0 10px #666);
}

#canvas canvas {
  position: absolute;
  background: transparent;
}

#cursor-layer {
  position: absolute;
  width: 100%;
  height: 100%;
}

#line-x,
#line-y {
  position: absolute;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  background: #666;
  border: medium none;
  z-index: 9;
  .user-select(none);
}

#line-x {
  left: -99999px;
  width: 1px;
  height: 100%;
}

#line-y {
  top: -99999px;
  width: 100%;
  height: 1px;
}

#dashboard {
  background: #eee;
  position: absolute;
  overflow: hidden;
  z-index: 10;
  visibility: hidden;
  width: 340px;
  max-width: 90%;
  top: -9999px;
  right: -9999px;
  cursor: default;
  border-style: solid;
  border-color: #666;
  border-width: 0 0 1px 1px;
  .border-radiuses(0, 0, 4px, 0);
  .box-shadow(0 1px 8px rgba(0, 0, 0, 0.5));
  button {
    .icon();
    font-size: 0;
    line-height: 0;
    padding: 0;
    width: 16px;
    height: 16px;
  }
  h2 {
    margin: 10px 0 0 0;
    font-size: 12px;
    padding: 10px 20px;
    background: #ccc;
    .title {
      float: left;
      line-height: 16px;
    }
    .menu {
      float: right;
      a {
        cursor: pointer;
        &:hover {
          color: #666;
        }
      }
    }
    &:after {
      .clear();
    }
  }
  #func-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
    overflow: auto;
    li {
      border-bottom: solid #999 1px;
      position: relative;
      .col1 {
        position: absolute;
        padding: 7px 8px 8px 8px;
        top: 0;
        bottom: 0;
        left: 0;
        background: #fc8c84;
        .show-on-btn {
          height: 17px;
          display: block;
          .sprite-position(@eye);
          &:hover {
            .sprite-position(@eye-hover);
          }
          &.hide {
            .sprite-position(@eye-off);
            &:hover {
              .sprite-position(@eye-off-hover);
            }
          }
        }
      }
      .col2 {
        margin: 0 42px 0 32px;
        padding: 5px 8px;
        word-wrap: break-word;
        word-break: break-all;
        p {
          margin: 3px 0;
          line-height: 16px;
        }
      }
      .col3 {
        position: absolute;
        padding: 8px 10px 8px 0;
        height: 16px;
        top: 0;
        right: 0;
        bottom: 0;
        button {
          float: right;
        }
        .edit-btn {
          margin-right: -1px;
          .sprite-position(@edit-l);
          &:hover {
            .sprite-position(@edit-l-hover);
          }
        }
        .delete-btn {
          .sprite-position(@cross-r);
          &:hover {
            .sprite-position(@cross-r-hover);
          }
        }
      }
      &:after {
        .clear();
      }
    }
  }
  #add-func {
    padding: 10px 10px 0 30px;
    font-size: 12px;
    span {
      float: left;
      line-height: 16px;
    }
    button {
      float: right;
      .sprite-position(@plus);
      &:hover {
        .sprite-position(@plus-hover);
      }
    }
    &:after {
      .clear();
    }
  }
  #dashboard-toggle {
    button {
      float: left;
      .sprite-position(@corner-on);
      &:hover {
        .sprite-position(@corner-on-hover);
      }
    }
    &:after {
      .clear();
    }
  }
  &.show {
    visibility: visible;
  }
  &.animate {
    .transition(~'top .15s .3s ease-in-out, right .15s ease-in-out');
  }
  &.on {
    top: 0;
    right: 0;
    #dashboard-toggle button {
      .sprite-position(@corner-off);
      &:hover {
        .sprite-position(@corner-off-hover);
      }
    }
  }
}

#dropbox-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .3);
  display: none;
  z-index: 11;
  &.on {
    display: block;
  }
}

.dropbox-wrap {
  position: relative;
  margin: 0 auto;
  width: 340px;
  max-width: 90%;
}

.dropbox {
  .transition(all .1s);
  position: absolute;
  background: #eee;
  margin: 0 auto;
  z-index: 20;
  cursor: default;
  visibility: hidden;
  top: -9999px;
  left: 0;
  right: 0;
  border-style: solid;
  border-color: #666;
  border-width: 0 1px 1px 1px;
  .border-radiuses(0, 4px, 4px, 0);
  .box-shadow(0 1px 8px rgba(0, 0, 0, 0.5));
  &.show {
    visibility: visible;
  }
  &.animate {
    .transition(all ease-in-out .15s);
  }
  &.on {
    top: 0;
    #dashboard-toggle button {
      .sprite-position(@corner-off);
      &:hover {
        .sprite-position(@corner-off-hover);
      }
    }
  }
  button {
    .icon();
    font-size: 0;
    line-height: 0;
    padding: 0;
    width: 16px;
    height: 16px;
  }
  h2 {
    margin: 10px 0 0 0;
    font-size: 12px;
    padding: 10px 20px;
    background: #cccccc;
    .title {
      float: left;
      line-height: 16px;
    }
    .close-dropbox-btn {
      float: right;
      .sprite-position(@cross);
      &:hover {
        .sprite-position(@cross-hover);
      }
    }
    &:after {
      .clear();
    }
  }
  .dropbox-inner {
    padding: 10px 20px 20px 20px;
    h3 {
      font-size: 13px;
      margin: 10px 0;
      img {
        margin: 0 12px 0 0;
      }
    }
    p {
      font-size: 12px;
      line-height: 18px;
      margin: 5px 0;
    }
  }
}

#func-editor {
  #func-textarea-wrap {
    padding: 10px 32px 10px 20px;
    textarea {
      outline: medium none;
      border: solid 1px #999;
      padding: 5px;
      font-size: 12px;
      line-height: 16px;
      display: block;
      width: 100%;
      height: 96px;
      resize: none;
      &.error {
        border-color: #f33;
        background-color: #fdd;
      }
      &.fade-out {
        .transition(all 5s);
      }
    }
    &:after {
      .clear();
    }
  }
  #footer {
    padding: 0 20px 20px 20px;
    #palette {
      float: left;
      width: 252px;
      a {
        float: left;
        width: 5px;
        height: 5px;
        cursor: pointer;
        border-width: 1px;
        border-style: solid;
        &:hover {
        }
        &.selected {
          border-color: #fff !important;
        }
        &.bright.selected {
          border-color: #000 !important;
        }
      }
      &:after {
        .clear();
      }
    }
    #submit-btn {
      float: right;
      width: 28px;
      height: 28px;
      margin-top: 7px;
      .sprite-position(@ok);
      &:hover {
        .sprite-position(@ok-hover);
      }
    }
    &:after {
      .clear();
    }
  }
}