@import '../lib/normalize-css/normalize.css';
@import 'mixins.less';

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #ccc;
  overflow: hidden;
  cursor: crosshair;
}

body.drag-start,
body.dragging {
  cursor: move;
  .user-select(none);
}

#tl-panel,
#tr-panel,
#bl-panel,
#br-panel {
  position: absolute;
  z-index: 10;
  button {
    background: url("../img/buttons.png");
    font-size: 0;
    line-height: 0;
    border: medium none;
    outline: medium none;
    width: 28px;
    height: 28px;
    padding: 0;
  }
}

#tl-panel {
  top: 20px;
  left: 20px;
}

#tr-panel {
  top: 20px;
  right: 20px;
}

#bl-panel {
  bottom: 20px;
  left: 20px;
}

#br-panel {
  bottom: 20px;
  right: 20px;
}

.cursor-coordinate {
  font-family: consolas courier, monospace;
}

#tl-panel h1 {
  font-size: 12px;
  margin: 0;
  padding: 0 0 10px 0;
}

#canvas {
  background: #ffffff;
  width: 100%;
  height: 100%;
  .box-shadow(0 0 10px #666);
}

#canvas canvas {
  position: absolute;
  background: transparent;
}

#mask {
  position: absolute;
  width: 100%;
  height: 100%;
}

#line-x,
#line-y {
  position: absolute;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  background: #666;
  border: medium none;
  z-index: 9;
  .user-select(none);
}

#line-x {
  left: -99999px;
  width: 1px;
  height: 100%;
}

#line-y {
  top: -99999px;
  width: 100%;
  height: 1px;
}

#palette {
  width: 384px;
}

#palette a {
  float: left;
  width: 4px;
  height: 4px;
  border-width: 1px;
  border-style: solid;
}

#palette a:hover {
  border-color: #ffffff !important;
}

#palette:after {
  content: ' ';
  display: block;
  height: 0;
  font-size: 0;
  line-height: 0;
  clear: both;
}